<div class="col-12 text-center" style="height: 37.5%;">
    <div class="dropzone mx-auto float-left" style="height: 90%; width: 45%; margin-top: 5%; margin-left: 4% !important; display: inline-block; vertical-align: middle">
       <img class="card-image" crossorigin="anonymous" src="<%= currentUser && card.images[0] !== undefined ? card.images[0].image : '' %>" style="max-width: 100%;" onerror="this.onerror=null;this.src='//:0';">
       <i class="far fa-image placeholder"></i>
    </div>
    <div class="dropzone mx-auto float-right" style="height: 90%; width: 45%; margin-top: 5%; margin-right: 4% !important; display: inline-block; vertical-align: middle">
       <img class="card-image" crossorigin="anonymous" src="<%= currentUser && card.images[1] !== undefined ? card.images[1].image : '' %>" style="max-width: 100%;" onerror="this.onerror=null;this.src='//:0';">
       <i class="far fa-image placeholder"></i>
    </div>
 </div>
 <div class="col-12 text-center" style="height: 37.5%;">
    <div class="dropzone mx-auto float-left" style="height: 90%; width: 45%; margin-top: 1%; margin-left: 4% !important; display: inline-block; vertical-align: middle">
       <img class="card-image" crossorigin="anonymous" src="<%= currentUser && card.images[2] !== undefined ? card.images[2].image : '' %>" style="max-width: 100%;" onerror="this.onerror=null;this.src='//:0';">
       <i class="far fa-image placeholder"></i>
    </div>
    <div class="dropzone mx-auto float-right" style="height: 90%; width: 45%; margin-top: 1%; margin-right: 4% !important; display: inline-block; vertical-align: middle">
       <img class="card-image" crossorigin="anonymous" src="<%= currentUser && card.images[3] !== undefined ? card.images[3].image : '' %>" style="max-width: 100%;" onerror="this.onerror=null;this.src='//:0';">
       <i class="far fa-image placeholder"></i>
    </div>
 </div>
 
 
  <div class="col-12 text-center">
     <input type="text" class="text-center message" placeholder="Type a message!" style="margin-top: 4%; width: 100%; color: <%= card.textColor %>" name="card[message]" value="<%= currentUser ? card.messages[0].message :'' %>">
  </div>