<%- include('./partials/header.ejs') %>

<div class="loading-print bg-dark align-items-center d-none">
  <i class="fas fa-print loading-print-graphic mx-auto bounce"></i>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this <span id="item-to-delete"></span>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirm">Delete</button>
        </div>
      </div>
    </div>
  </div>

<main class="container main mb-4">

  <div id="form1" id="card-content-input">
    <h3 class="mt-5 pt-5 d-inline" id="card-title"><strong><%= currentUser ? card.name : '' %></strong></h3>

    <!--Page to print-->
    <div class="page" style="font-family: <%= card.font %>;">
        <div class="topofpage">
            <!--Logo and website-->

            <div id="company-credit">
              <img src="/images/Monochrome on Transparent.png" id="company-credit-logo">
              <p>cardapp77.herokuapp.com</p>  
            </div>
        </div>
        <div class="bottomofpage d-block" style="background-color: <%= currentUser ? card.bottomFrontBackgroundColor : '' %>;" data-toggle="tooltip" data-placement="top" title="Front of card">
            <%- include(`./card_templates/${currentUser ? card.template_choice : template}`) %>
        </div>
    </div>
  </div>

  <h4 class="text-center">Photos <span class="h6 text-muted"><%= currentUser ? numOfPhotos + ' / 12' : '' %></span></h4>
  <h6 class="text-center mb-2">
    <% if(currentUser && files.length === 0) { %>
      Upload a photo to get started
    <% } else { %>
      Select a photo below, then select "click to insert" or drag and drop a photo to the card.
    <% } %>
  </h6>
  <% if(currentUser) { %>
  <!-- Image upload -->
  <div class="container col-sm-10 col-md-8 mb-3" id="image-upload-container">
      <form id="form2" action="/cards/image/upload" method="post" enctype="multipart/form-data">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" name="imageUpload" accept="image/*">
        <label class="custom-file-label" for="validatedCustomFile">Upload a photo...</label>
      </div>

      <button type="submit" id="upload-img-btn" class="btn btn-primary mt-3" value="form2" style="display: none;">Upload photo</button>
    </form>
  </div>
  <% } %>
  <button class="btn btn-secondary float-right" id="collapse-btn" type="button" data-toggle="collapse" data-target="#photo-gallery" aria-expanded="false" aria-controls="collapseExample">
    <span class="close-icon">&times;</span><span class="open-icon d-none">&#9776;</span>
  </button>
  <div class="container pb-3 mb-5">
    <div class="row collapse show" id="photo-gallery">
      <% if(currentUser) { %>
        <% for(let file of files) { %>
            <div class="imageDiv col-4 col-lg-3 col-xl-2">
                <img class="draggableImage" crossorigin="anonymous" src="<%= file.href %>" draggable="true">
                <div class="photo-menu">
                  <form class="d-inline delete-photo-form" action="/cards/image/<%= file._id %>/<%= file.file_id %>?_method=DELETE" method="POST">
                    <button class="btn btn-clear delete-photo-btn text-white delete_button" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i></button>
                  </form>
              </div>
            </div>
        <% } %>
      <% } %> 
    </div>
  </div>
</main>

<div class="sidebar-desktop">
  <%- include('./partials/sidebar.ejs') %>
</div>


<%- include('./partials/footer.ejs') %>