<%- include('./partials/header.ejs') %>
<div class="btn-group dropleft float-right d-block">
    <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-tools"></i>
    </button>
    <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item">Print</a>
        <div class="dropdown-divider"></div>
        <form action="/cards/<%= card._id %>?_method=DELETE" method="POST">
            <button class="dropdown-item submit text-danger" href="#">Delete</button>
        </form>
      </div>
</div>

<main class="container main">


<form action="/cards/<%= card._id %>?_method=PUT" method="POST" id="card-content-input">
    <h3 class="mt-5 pt-5 d-inline"><strong><%= card.name %></strong></h3>
    <div class="page">
        <div class="topofpage d-block">
            <!--Insert card layout-->
        </div>
        <div class="bottomofpage d-block">
            <%- include(`./card_templates/${card.template_choice}`) %>
        </div>
    </div>


    
    <div class="container col-sm-10 col-md-8" id="image-input-container">
        <!--Image input fields-->
        <% let i = 0 %>
        <% for(i = 0; i < templateData[card.template_choice].numOfImages; i++) { %>
                <% let imgString = card.images[i] !== undefined ? card.images[i].image : ''; %>
            <div class="form-group">
                <label for="image-input-<%= i+1 %>">Image URL <%= i+1 %></label>
                <input type="text" class="form-control image-input" id="image-input-<%= i+1 %>" placeholder="Image URL" name="card[image]" value="<%= imgString %>">
            </div>
        <% }; %>
            
        <button type="submit" class="btn btn-primary mb-5">Save Changes</button>
    </div>
    </form>
</main>
<%- include('./partials/footer.ejs') %>