<%- include('./partials/header.ejs') %>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete your account? This cannot be undone.</span>?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirm">Delete</button>
        </div>
        </div>
    </div>
</div>

<div class="back-btn">
    <button class="btn btn-secondary back-btn-link">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>
  
<div class="container col-md-6 col-lg-4 col-sm-8 pb-5" id="register-form">

    <h1 class="text-center font-weight-bold">Edit account</h1>

    <form action="/user/<%= currentUser._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control form-control-lg" id="firstName" name="firstName" value="<%= currentUser.firstName %>">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp" name="email" value="<%= currentUser.email %>">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save changes</button>
    </form>
</div>

<div class="container d-flex justify-content-center mt-5">
    <form action="/user/<%= currentUser._id %>?_method=DELETE" method="POST">
        <button class="btn btn-sm btn-danger btn-block delete_button" data-toggle="modal" data-target="#deleteModal">Delete my account</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>