<%- include('./partials/header.ejs') %>

<div class="back-btn">
    <button class="btn btn-secondary back-btn-link">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>
  
<div class="container col-md-6 col-lg-4 col-sm-8 pb-5" id="register-form">

    <h1 class="text-center font-weight-bold">Edit account</h1>

    <form action="/user/<%= currentUser._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control form-control-lg" id="firstName" name="firstName" value="<%= currentUser.firstName %>">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control form-control-lg" id="email" aria-describedby="emailHelp" name="email" value="<%= currentUser.email %>">
        </div>
        <!--
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control form-control-lg" id="username" name="username" value="<%= currentUser.username %>">
        </div>
        <div class="form-group">
            <label for="password">Current password</label>
            <input type="password" id="password" class="form-control form-control-lg" name="password">
        </div>
        <div class="form-group">
            <label for="password">New password</label>
            <input type="password" id="newPassword" class="form-control form-control-lg" name="newPassword">
        </div>
        <div class="form-group">
            <label for="password">Confirm new password</label>
            <input type="password" id="newPasswordConfirm" class="form-control form-control-lg" name="newPasswordConfirm">
        </div>
    -->
        <button type="submit" class="btn btn-primary btn-block">Save changes</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>